<tr class="alert" role="alert">
  <td>
    <%= image_tag(@user.avatar.html_safe) %>
  </td>
  <td>
    <div class="email">
      <%= @user.email %>
    </div>
  </td>
  <td><%= @user.first_name %></td>
  <td><%= @user.last_name%></td>
  <td>
    <%= button_to 'Details', details_path(user_id: @user.id), class: "btn btn-primary", method: :post, remote: true %>
  </td>
</tr>
