<div id="pagination-links">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <%= button_to 'First', page_path(page: 1), method: :post, class: "page-link" + previous_page_class, remote: true %>
        </li>
        <li class="page-item">
          <%= button_to 'Previous', page_path(page: @collection.previous_page), method: :post, class: "page-link" + previous_page_class, remote: true %>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#"><%= @collection.page %> of <%= @collection.total_pages %> <span class="sr-only"></span></a>
        </li>
        <li class="page-item">
          <%= button_to 'Next', page_path(page: @collection.next_page), method: :post, class: "page-link" + next_page_class, remote: true %>
        </li>
        <li class="page-item">
          <%= button_to 'Last', page_path(page: @collection.total_pages), method: :post, class: "page-link" + next_page_class, remote: true %>
        </li>
      </ul>
    </nav>
</div>
